<?xml version="1.0" ?>
<model>
  <name>labirinto_confinado</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Herick Bento</name>
    <email>herick@todo.com</email>
  </author>
  <description>
    Labirinto da Fase 4 - Espaço Confinado (6x2m)
  </description>
</model>
